<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task 1</title>

    <link rel="stylesheet" href="foundation.min.css" />

  </head>
  
  <body>

    <div class="row" id="social-feeds">

      <section class="small-12 columns medium-6 columns" id="twitter">
        <h2 style="text-align:center;">Twitter : No Mayo</h2>
        <div id="tweet-container">
          <% @twitter_stream.each do |x| %>
            <div style="margin-top:2rem;border:1px solid #e8e8e8;border-radius:5px;padding:1rem;" id="tweet-container">
              <a href=<%= x.uri %> ><p><%= x.text %></p></a>
              <% if x.retweeted? == true %>
                <img src=<%= x.retweeted_status.user.profile_image_url %> />
                <%= x.retweeted_status.user.screen_name %><br>
              <% else %>
                <img src=<%= x.user.profile_image_url %> />
                <%= x.user.screen_name %><br>
              <% end %>
            </div>
          <% end %>
        </div>
      </section>

      <section class="small-12 columns medium-6 columns" id="instagram">
        <h2 style="text-align:center;">Instagram : <%= @user.username %></h2>
        <div id="img-container" style="height:65rem;max-width:13rem;margin-bottom:10px;background-color:rgb(255, 255, 255);margin-left:auto;margin-right: auto;">
          <% @insta_stream.each do |x| %>
            <img src=<%= x.images.thumbnail.url %> class='medium-12 columns' style='padding:1rem;height:13rem;width:13rem;border:1px solid #e8e8e8;border-radius:5px;' />
          <% end %>
        </div>
      </section>
    </div>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>

  </body>

</html>